/*Header*/


/*Section*/
section{
	height: 600px;
}

section #panel, section #info{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/*Section-Panel*/

#panel{
	position: relative;
	background-color: #eaeaea;
	width: 250px;
}


#panel .btn{
	width: 90%;
	margin: auto;
	margin-top: 15px;
}

#panel .btn-info{
	position: absolute;
	bottom: 30px;
	left: 10px;
}


/*Section-Info*/
#info{
	width: 67%;
	min-width: 300px;
}

#info .table-striped{
	margin-top: 50px;
}

#tablaPersonas_info{
	position: absolute;
	bottom: 40px;
}

#tablaPersonas_wrapper{
	position: relative;
	height: 100%;
}

#tablaPersonas_paginate{
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

#tablaPersonas_paginate .paginate_button{
	margin-left: 20px;
	margin-right: 20px;
}

/*Footer*/
footer{
   background-color: #424558;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}